<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css">
</head>
<body>
    {{>header}}
    <p>{{indexNote}}</p>
    {{>footer}}
</body>
</html>