body {
    color: #333333;
    font-family: Georgia;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 16px;
}
.main-content{
    flex-grow: 1;
}

footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header {
    margin-top: #888888;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}